<div class="container-fluid">
	<div class="row">
		<div class="col-4 d-flex justify-content-start">
			<div class="clickable" ng-click="toggleEventLogDetails()" ng-hide="true">
				<span class="badge badge-pill" ng-class="getBadge().className">{{ getBadge().count }}</span> {{ 'FDUI_FOOTER_EVENT_LOG' | translate }}
			</div>
		</div>

		<div class="col-4 d-flex justify-content-center">
			<div ng-show="$ctrl.config.stagingStatus.stagingAvailable">
				<button ng-click="$ctrl.showStagingDialog()" class="badge badge-pill badge-warning ng-binding" ng-show="!$ctrl.config.stagingStatus.stagingAccepted">
					{{ 'FDUI_FOOTER_NEW_FEATURE' | translate }}
				</button>
				<button ng-click="$ctrl.showStagingDialog()" class="badge badge-pill badge-success ng-binding" ng-show="$ctrl.config.stagingStatus.stagingAccepted">
					{{ 'FDUI_FOOTER_FEEDBACK_FEATURE' | translate }}
				</button>
			</div>
		</div>
		<div class="col-4 d-flex justify-content-end">
			<span class="badge badge-pill badge-primary" style="margin-right:5px;">{{$ctrl.config.mode}}</span>
			<a href ng-click="$ctrl.showChangelog()" class="pull-right">V {{$ctrl.version}}</a>
		</div>
	</div>
	<div id="fdui-event-log-details" style="display: none;">
		<div class="row border-top" style="height: 200px; overflow: auto" id="fdui-event-log-details-list">
			<ul class="list-unstyled">
				<li ng-repeat="event in getEvents()" class="text-{{event.severity}}">
					<span ng-click="onClickLogEvent(event)" class="clickable">{{ event.datetime }}: {{ event.title }}</span>
				</li>
			</ul>
		</div>

		<div class="row border-top" ng-show="getEvents().length > 0">
			<a href="#" ng-click="clearEventLog()">{{ 'FDUI_FOOTER_EVENT_LOG_CLEAR' | translate }}</a>
		</div>
	</div>

	<div id="fdui-event-log-modal" class="modal" style="margin-top: 50px;" tabindex="-1" role="dialog" data-backdrop="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h1>{{ (selectedLogEvent.title.length > 35 ? selectedLogEvent.title.substring(0, 35) + '...' : selectedLogEvent.title) }}</h1>
				</div>
				<div class="modal-body">
					<p><b>{{ 'FDUI_FOOTER_EVENT_LOG_DATETIME' | translate }}: </b> {{ selectedLogEvent.datetime }}</p>
					<p><b>{{ 'FDUI_FOOTER_EVENT_LOG_TITLE' | translate }}: </b> {{ selectedLogEvent.title }}</p>
					<p><b>{{ 'FDUI_FOOTER_EVENT_LOG_SEVERITY' | translate }}: </b> {{ selectedLogEvent.severity }}</p>
					<p><b>{{ 'FDUI_FOOTER_EVENT_LOG_DETAIL' | translate }}: </b> {{ selectedLogEvent.detail }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" ng-click="onClickCloseLogEventDetail()">{{ 'FDUI_FOOTER_EVENT_DETAIL_CLOSE' | translate }}</button>
				</div>
			</div>
		</div>
	</div>

	<div id="staging-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container-fluid m-5" style="width: 90%;">
						<div class="row">
							<p class="pb-3" style="  font-size: 20px;">
								{{ 'FDUI_FOOTER_STAGING_NEW_FUNCTIONALITY' | translate }}
							</p>
							<p class="pb-3" style="width: 100%;">
								{{ 'FDUI_FOOTER_STAGING_HERE_NEW_FEATURES' | translate }}
							</p>
							<p class="pd-3" style="padding-left: 20px;">
								{{$ctrl.config.stagingStatus.stagingInformation}}
							</p>
							<p class="pb-3">
								{{ 'FDUI_FOOTER_STAGING_BEFORE_ACTIVATING' | translate }}
							</p>
							<p class="pb-3" ng-show="!$ctrl.config.stagingStatus.stagingAccepted">
								{{ 'FDUI_FOOTER_STAGING_GO_AHEAD_TRY_THEM_OUT' | translate }}
							</p>
							<div class="card" ng-show="$ctrl.config.stagingStatus.stagingAccepted">
								<div class="card-body">
									<p class="pb-3" style="font-weight: bold">
										<img style="width: 150px; height: 120px;" src="./resources/lib/FestoDidacticUIComponents/resources/images/sad_dog.png">
										<span style="width: 65%; float: right; margin-top: 40px; ">
										{{ 'FDUI_FOOTER_STAGING_TROUBLE_WITH_FEATURES' | translate }}
										</span>
									</p>
									<p class="pb-3">
										{{ 'FDUI_FOOTER_STAGING_TELL_US_WHY' | translate }}
									</p>
									<p style="width: 100%; text-align: center;">
										<a target="_blank"
										   href="https://festo.sharepoint.com/sites/didactic/bf-edu/production/SynchroProductionSystem/Lists/Demandes%20informatiques/NewForm.aspx">
											<img alt="Demande informatique" src="./resources/lib/FestoDidacticUIComponents/resources/images/informatique.png" data-themekey="#"
												 style="margin:5px;width:150px;">
										</a>
									</p>
									<p class="pb-3">
										{{ 'FDUI_FOOTER_STAGING_PREVENTING_DOING_JOB' | translate }}
									</p>
									<p class="pb-3">
										{{ 'FDUI_FOOTER_STAGING_BEFORE_DISABLING' | translate }}
									</p>
									<p class="pb-3">
										{{ 'FDUI_FOOTER_STAGING_APOLOGIZE' | translate }}
									</p>
									<p class="pb-3" style="width: 50%; margin: auto;">
										<button style="width: 100%" type="button" class="btn btn-light float-right" ng-click="$ctrl.onClickRedirectToProductionApplication()">
											{{ 'FDUI_FOOTER_STAGING_DISABLE_FEATURES' | translate }}
										</button>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="container-fluid">
						<div class="row" style="width: 100%;">
							<button ng-show="!$ctrl.config.stagingStatus.stagingAccepted" style="margin: auto;" type="button" class="btn btn-primary float-left" ng-click="$ctrl.onClickRedirectToStagingApplication()">{{ 'FDUI_FOOTER_STAGING_TRY_FEATURES' | translate }}</button>
							<button style="margin: auto;" type="button" ng-class="{'btn-primary':$ctrl.config.stagingStatus.stagingAccepted, 'btn-light':!$ctrl.config.stagingStatus.stagingAccepted}" class="btn float-left" data-dismiss="modal">{{ 'FDUI_FOOTER_EVENT_DETAIL_CLOSE' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>