<div class="nav-sidebar d-none d-sm-block">
    <div class="nav-sidebar-inner-scroll">
        <ul class="sidebar-top-level-items">
            <li ng-repeat="navItem in $ctrl.config.navItems" ng-class="{'active' : navItem.isActive()}">
                <a class="shortcuts-tree" ui-sref="{{navItem.sref}}">
                    <span class="nav-icon-container" ng-if="navItem.icon">
                        <notification-icon count="navItem.icon.notification.count" wide-threshold="100" ng-if="navItem.icon.notification">
                        </notification-icon>
                        <img ng-src="{{navItem.icon.source}}" ng-class="{{navItem.icon.class}}" ng-style="{{navItem.icon.style}}" alt=""/>
                    </span>
                    <span class="nav-item-name">{{navItem.getName()}}</span>
                </a>
                <ul class="sidebar-sub-level-items" ng-if="navItem.subItems">
                    <li ng-repeat="subItem in navItem.subItems" ng-class="{'active' : subItem.isActive()}">
                        <a ui-sref="{{subItem.sref}}">{{subItem.getName()}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>