<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href><img ng-src="{{$ctrl.config.brand.location}}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-item-user">
                <a class="nav-link dropdown-toggle" href id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img ng-src="{{$ctrl.config.user.icon}}" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <span ng-repeat="element in $ctrl.config.user.elements">
                        <a class="dropdown-item" href ng-if="element.type === 'element'" ng-click="element.type === 'element' && element.action()">{{element.getName()}}</a>
                        <hr class="divider" ng-if="element.type === 'divider'"/>
                    </span>
                </div>
            </li>

            <li class="nav-item" ng-repeat="navItem in $ctrl.config.navigation" ng-class="{'active' : navItem.isActive()}">
                <a class="nav-link" ui-sref="{{navItem.sref}}">{{navItem.getName()}}</a>
                <div class="sub-navigation" ng-if="navItem.subNavigation && navItem.subNavigation.isVisible()">
                    <div ng-repeat="subItem in navItem.subNavigation.navItems">
                        <a class="nav-link sub-item" ng-class="{'active' : subItem.isActive()}" ui-sref="{{subItem.sref}}" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <span class="nav-icon-container" ng-if="subItem.icon">
                                <img ng-src="{{subItem.icon.source}}" ng-class="{{subItem.icon.class}}" ng-style="{{subItem.icon.style}}" alt=""/>
                            </span>
                            <span class="nav-item-name">{{subItem.getName()}}</span>
                        </a>
                        <a class="nav-link sub-sub-item" ng-if="subItem.subItems" ng-repeat="subSubItem in subItem.subItems" ng-class="{'active' : subSubItem.isActive()}" data-toggle="collapse"
                           data-target="#navbarSupportedContent" ui-sref="{{subSubItem.sref}}">
                            <span class="nav-icon-container" ng-if="subSubItem.icon">
                                <img ng-src="{{subSubItem.icon}}" alt=""/>
                            </span>
                            <span class="nav-item-name">{{subSubItem.getName()}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>