fd-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -1px 1px 1px #e5e5e5;
  padding: 3px;

  .badge {
	cursor: pointer;
	border: none;
  }
}

#staging-modal {

  .card {
	border: 2px solid grey;
  }
}