.page-with-contextual-sidebar {
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  min-height: 80vh;
}

.nav-sidebar {
  transition: width 0.3s, left 0.3s;
  position: absolute;
  z-index: 400;
  top: 11px;
  left: 12px;
  background-color: $white;
  box-shadow: 0 0 3px 1px $gray-300;
  transform: translate3d(0, 0, 0)
}

.main-content {
  box-shadow: 0 0 3px 1px $gray-300;
  border: 0 !important;
}

@media (min-width: 1200px) {
  .page-with-contextual-sidebar {
    padding-left: 240px;
  }

  .page-with-contextual-sidebar .nav-sidebar {
    width: 220px;
  }

  .page-with-contextual-sidebar .nav-sidebar .nav-item-name {
    display: inherit;
  }
}

.nav-sidebar a {
  text-decoration: none
}

.nav-sidebar ul {
  padding-left: 0;
  list-style: none
}

.nav-sidebar li {
  white-space: nowrap
}

.nav-sidebar li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: $gray-600
}

.nav-sidebar li .nav-item-name {
  flex: 1
}

.nav-sidebar li.active > a {
  font-weight: 600
}

.nav-sidebar svg {
  height: 16px;
  width: 16px
}

.sidebar-top-level-items {
  margin-bottom: 0 !important;
}

.sidebar-top-level-items li {
  padding: 3px;
}

.sidebar-top-level-items > li.active {
  border-left: 3px solid $primary;
  padding-left: 0;
}

.nav-sidebar a {
  text-decoration: none
}

.nav-sidebar ul {
  padding-left: 0;
  list-style: none
}

.nav-sidebar li {
  white-space: nowrap
}

.nav-sidebar li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: #707070
}

.nav-sidebar li .nav-item-name {
  flex: 1;
  margin-left: 5px;
}

.nav-sidebar .nav-icon-container {
  display: inline-block;
  padding : 0;
  width: 50px;
  text-align: center;

  img {
    margin : 0;
  }
}

.nav-sidebar .fly-out-top-item { //
  display: none
}

.nav-sidebar svg {
  height: 16px;
  width: 16px
}

.nav-sidebar-inner-scroll {
  height: 100%;
  width: 100%;
  overflow: auto
}

.with-performance-bar .nav-sidebar {
  top: 75px
}

.sidebar-sub-level-items > li a {
  padding: 8px 16px 8px 40px
}

.sidebar-sub-level-items > li a:hover, .sidebar-sub-level-items > li .participants-more .btn-link:hover, .participants-more .sidebar-sub-level-items > li .btn-link:hover, .sidebar-sub-level-items > li .user-list-more .btn-link:hover, .user-list-more .sidebar-sub-level-items > li .btn-link:hover, .sidebar-sub-level-items > li a:focus {
  background: rgba(0, 0, 0, 0.04);
  color: #2e2e2e
}

.sidebar-sub-level-items > li.active a, .sidebar-sub-level-items > li.active a:hover, .sidebar-sub-level-items > li.active .participants-more .btn-link:hover, .participants-more .sidebar-sub-level-items > li.active .btn-link:hover, .sidebar-sub-level-items > li.active .user-list-more .btn-link:hover, .user-list-more .sidebar-sub-level-items > li.active .btn-link:hover, .sidebar-sub-level-items > li.active a:focus {
  background: rgba(0, 0, 0, 0.04)
}

.sidebar-top-level-items {
  margin-bottom: 60px
}

.sidebar-top-level-items > li > a:hover, .participants-more .sidebar-top-level-items > li > .btn-link:hover, .user-list-more .sidebar-top-level-items > li > .btn-link:hover {
  color: #2e2e2e
}

@media (max-width: 1199px) {

  .page-with-contextual-sidebar {
    padding-left: 70px;
  }
  .page-with-contextual-sidebar {
    transition: padding-left 0.3s;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .page-with-contextual-sidebar .nav-sidebar {
    width: 50px;
  }

  .page-with-contextual-sidebar .nav-sidebar .nav-item-name {
    display: none;
  }

  .sidebar-sub-level-items {
    display: none;
  }

  //.sidebar-top-level-items > li > a {
  //  margin-right: 2px
  //}

  .sidebar-top-level-items > li .sidebar-sub-level-items::before {
    content: "";
    position: absolute;
    top: -30px;
    bottom: -30px;
    left: -10px;
    right: -30px;
    z-index: -1
  }

  .sidebar-top-level-items > li .sidebar-sub-level-items a:hover, .sidebar-top-level-items > li .sidebar-sub-level-items .participants-more .btn-link:hover, .participants-more .sidebar-top-level-items > li .sidebar-sub-level-items .btn-link:hover, .sidebar-top-level-items > li .sidebar-sub-level-items .user-list-more .btn-link:hover, .user-list-more .sidebar-top-level-items > li .sidebar-sub-level-items .btn-link:hover, .sidebar-top-level-items > li .sidebar-sub-level-items a:focus {
    background-color: #eee
  }

  .page-with-contextual-sidebar .nav-sidebar:hover {
    width: 220px;
  }

  .page-with-contextual-sidebar .nav-sidebar:hover .nav-item-name {
    display: block;
  }

  .page-with-contextual-sidebar .nav-sidebar:hover .sidebar-sub-level-items {
    display: block;
  }

}

@media (max-width: 575px) {
  .page-with-contextual-sidebar {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar-top-level-items > li .badge {
  background-color: rgba(0, 0, 0, 0.08);
  color: #707070
}

.sidebar-top-level-items > li.active {
  background: rgba(0, 0, 0, 0.04)
}

.sidebar-top-level-items > li.active .badge {
  font-weight: 600
}

.sidebar-top-level-items > li.active:hover, .participants-more .sidebar-top-level-items > li.active:hover, .user-list-more .sidebar-top-level-items > li.active:hover, .sidebar-top-level-items > li.is-over {
  background-color: rgba(0, 0, 0, 0.06)
}

.fly-out-top-item > a {
  display: flex
}

.fly-out-top-item .fly-out-badge {
  margin-left: 8px
}

.fly-out-top-item-name {
  flex: 1
}

.close-nav-button {
  display: none
}
