
.loader {
  /* Light grey */
  border-top-color: $primary !important;
  /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-light {
  border: 16px solid $white;
}

.loader-dark {
  border: 16px solid $gray-300;
}

.loader-lg {
  width: $spinner-lg-size;
  height: $spinner-lg-size;
  border-width: 16px;
}

.loader-md {
  width: $spinner-md-size;
  height: $spinner-md-size;
  border-width: 8px;
}

.loader-sm {
  width: $spinner-sm-size;
  height: $spinner-sm-size;
  border-width: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
